<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="header" class="header">
        <div class="page-title">Welcome to JHealthConnect</div>
        <div class="user-menu">
            <i class="fa fa-user-circle user-icon"></i>
            <div class="dropdown">
                <a th:href="@{/profile}">👤 Profile</a>
                <a th:href="@{/settings}">⚙ Settings</a>
                <a th:href="@{/help}">❓ Help</a>
                <a th:href="@{/logout}">🚪 Logout</a>
            </div>
        </div>
    </div>
</body>

</html>