<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:fragment="sidebar" class="sidebar">
        <h2 class="logo">JHealthConnect</h2>
        <nav>
            <a th:href="@{/home}">🏠 Home</a>
            <a sec:authorize="hasRole('USER')" th:href="@{/appointments}">📅 Appointments</a>
            <a sec:authorize="hasRole('USER')" th:href="@{/insurance}">💳 Insurance</a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/dashboard}">⚙ Admin Dashboard</a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/manage-users}">👥 Manage Users</a>
        </nav>
    </div>
</body>

</html>